{% extends "layout.html" %}

{% block title %}
   Expenses
{% endblock %}

{% block main %}

    <div class="section" style="text-align: center; margin: 100px auto;">
        <form action="/minperiod" method="post">
            <label for="start-date">Start Date:</label>
            <input type="date" class="form-control" id="start-date" name="start_date" style="margin: 10px auto;">

            <label for="end-date">End Date:</label>
            <input type="date" class="form-control" id="end-date" name="end_date" style="margin: 10px auto;">
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

{% endblock %}