{% extends "layout.html" %}

{% block title %}
   Expenses
{% endblock %}

{% block main %}
    <h2>Statistics</h2>
    <h3>Grand total: ${{ total }}</h3>
    <div class="section" style="text-align: left; margin: 100px auto;">
        {% for row in stat_info %}
            <div class="flex-box">
                <p class="name">{{ row['category'] }}</p>
                <div class="statBar {{ row['category'].replace(' ', '-') | lower }}"
                     style="width: {% if (row['total'] / total) * 100 < 5 %}3{% else %}{{ (row['total'] / total) * 100 }}{% endif %}%">
                    <p class="value" style="margin: 0; display: inline; text-align: left;" >${{ row['total'] }}</p>
                </div>
                <div style="display: inline; text-align: left;">
                        <p class="value" style="margin: 0; display: inline; text-align: left;">
                            {{ ((row['total'] / total) * 100) | round }}%</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}